.large-calendar-base-grid {
  /*default grid*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  /*---------*/

  display: grid;
  height: 130px;
  gap: 10px;
  grid-template-rows: repeat(2, auto);
  justify-items: start;
  font-size: 14px;
  cursor: default;
}

/* 
Start
When show up to large Size  Current Day Style
 */
.large-calendar-current-date {
  opacity: 1;
  position: relative;
}

.large-calendar-current-date::after {
  content: "오늘" !important;
  position: absolute !important;
  display: flex !important;
  padding: 4px 4px !important; /* Adjust to padding instead of width value*/
  justify-content: center !important;
  width: 28px;
  height: 28px;
  align-items: center !important;
  color: #fff !important;
  top: -3px !important;
  left: 40px !important;
  border-radius: 500% !important;
  background: #ffa800 !important;
}
/*---End---------*/

.large-calendar-current {
  opacity: 8;
  background-color: #fff;
}

.large-calendar-current-month {
  opacity: 1;
}

.large-calendar-not-current-month {
  visibility: hidden;
  background-color: #ffa800;
}

.large-calendar-prev-date,
.large-calendar-after-date {
  opacity: 0.5;
}

@media screen and (max-width: 1520px) {
  .large-calendar-base {
    height: 10vh;
  }
}
