/*
--------- container of row wrapped 
container  grid style
*/

.container-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

/*
      row grid style
      */
.row-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}
